/* ========================  OPEN-SOURCE WOO YEAH WOO  ========================

Purpose: Handle frontend of the NHS booking/triage knit

Date of Creation: 11/08/2023

we really cannot take chances with the lives of patients.
me and the developers of this system wish to help spur on change at some point in terms of better systems for the NHS.

the frontend is made and maintained by https://github.com/campbellharry
============================================================================

███    ██ ██   ██ ███████     ████████ ██████  ██  █████   ██████  ███████     ███████ ██    ██ ███████ 
████   ██ ██   ██ ██             ██    ██   ██ ██ ██   ██ ██       ██          ██       ██  ██  ██      
██ ██  ██ ███████ ███████        ██    ██████  ██ ███████ ██   ███ █████       ███████   ████   ███████ 
██  ██ ██ ██   ██      ██        ██    ██   ██ ██ ██   ██ ██    ██ ██               ██    ██         ██ 
██   ████ ██   ██ ███████        ██    ██   ██ ██ ██   ██  ██████  ███████     ███████    ██    ███████ 
============================================================================
*/

body {
    margin: 0;
    background-image: url(/img/download\ \(1\).jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: rgba(0, 122, 194, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: black solid
}

.header {
    background-color: black;
    color: #007AC2;
    text-align: center;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
}

.input-field {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    left: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    color: black;
}
.input-field:invalid{
    border: red solid 1px
}

.submit-button {
    width: 100%;
    background-color: #007AC2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #005A8B;
}
